.App{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.chart{
  width: 720px;
  height: 700px;
}
.bar{
  width: 720px;
  height: 700px;
}
.dough{
  width: 720px;
  height: 700px;
 
}